<h1>Héroe <small>{{ heroe.nombre}}</small></h1>
<button [routerLink]="['heroes']" type="button" name="button" class="btn btn-outline-danger">Atras</button>
<button (click)="agregarNuevo(forma)" type="button" class="btn btn-outline-info">Nuevo Héroe</button>
<hr>

<div class="row animated fadeIn fast">
  <div class="col-md-12">
    <form (ngSubmit)="guardar()" #forma="ngForm">

      <div class="form-group">
        <label>Nombre</label>
        <input [(ngModel)]="heroe.nombre"
               class="form-control"
               placeholder="Nombre del héroe"
               type="text" name="nombre"
               required>
      </div>

      <div class="form-group">
        <label>Casa</label>
        <select [(ngModel)]="heroe.casa" class="form-control" name="casa" required>
          <option value="Marvel">Marvel</option>
          <option value="DC">DC</option>
        </select>
      </div>

      <div class="form-group">
        <label>Bio</label>
        <textarea [(ngModel)]="heroe.bio"
                  class="form-control"
                  type="text" name="bio">
             </textarea>
      </div>

      <div class="form-group">
        <button [disabled]="!forma.valid"
                type="submit" class="btn btn-outline-primary" name="button">
          Guardar
        </button>

      </div>
    </form>

  </div>

</div>
